* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 13px;
    margin: 0px;
    margin-right: 2px;
    padding-top: 10px;
    
}
/*INÍCIO ÁREA DO CABEÇALHO*/
.container{
    min-height: 97vh;
    display: flex;
    flex-direction: column;
    
    

}
.cabecalho {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    
}
.cabecalho a {
    color: #212121;
}

.principal {
    flex: 1 1 0;
}

#botao-imagens{
    margin-bottom: 3px;
}

#botao-imagens a{
    margin-left: 13px;
    text-decoration: none;
    
}

#botao-gmail {
    margin-bottom: 3px;
}

#botao-gmail a{
    text-decoration: none;
}

.botao-apps {
    margin-left: 33px;
    margin-right: 23px;
}
.botao-apps div{
    display: flex;
}

.botao-bolinha div {
    height: 4px;
    width: 4px;
    border-radius: 50px;
    background-color: #5f6368;
    margin-right: 2px;
    margin-bottom: 2px;
    
}
.gmail-img img{
    border-radius: 50px;
    width: 32px;
    height: 33px;
    margin-right: 15px;
}

/*FIM ÁREA DO CABEÇALHO*/

/*INÍCIO ÁREA DA LOGO E INPUT*/
.principal div{ /*ALINHANDO A LOGO JUNTO COM O INPUT*/
    display: flex;
    justify-content: center;
    
}

.logo-google {
    margin-bottom: 28px;
}

.areapesquisa { /*ÁREA DA IMAGEN DE LUPINHA*/
    position: relative;
    align-items: center;
}

#pesquisa { /*ALINHANDO A IMAGEM DA LUPINHA DENTRO DO INPUT*/
    margin-left:-544px;
    position: absolute;
    height: 17px;
    width: 17px;
}
#teclado { /*ALINHANDO IMAGEM DO TECLADO DENTRO DO INPUT*/
    margin-left: 380px;
    position: absolute;
    height: 26px;
    width: 26px;
}
#microfone { /*ALINHANDO MICROFONE DENTRO DO INPUT*/
    margin-left: 450px;
    position: absolute;
    width: 13px;
    height: 19px;
}

#camera {/*ALINHANDO CÂMERA DENTRO DO INPUT*/
    position: absolute;
    margin-left: 520px;
    width: 22px;
}
.areapesquisa input { /*ALINHANDO INPUT*/
    height: 48px;
    width: 586px;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
}/*FIM ÁREA DA LOGO E INPUT*/

.botoes div{ /*ALINHANDO BOTÕES*/
    margin-top: 30px;
    margin-left: 10px;
    padding: 14px;
    color: #3c4043;
    background-color: #f8f9fa;
    width: 141px;
    height: 35px;
}

.pais {
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #f2f2f2;
    padding-left: 31px;
    font-size: 14.5px;
}
.sobre {
    color: #70757a;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    padding-left: 37px;
    font-size: 14.5px;
    background-color: #f2f2f2;
    
}
.sobre div {
    display: flex;
    margin-right: 30px;
}
